html {
    height: 100%;
}

body {
    padding: 30px;
    height: 100%;
}

/* MEDIA QUERY */

@media screen and (max-height: 600px){
    body {
        padding: 0px;
        background-color: white;
    }

    .main-container {
        box-shadow: none;
        border-radius: 0px;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 0px;
        background-color: white;
    }

    .main-container {
        box-shadow: none;
        border-radius: 0px;
    }

    .upper-row {
        flex-direction: column;
    }

    .messages-container {
        order: 2;
        height: 75%;
        width: 100% !important;
    }

    .users-container {
        width: 100% !important;
    }
}

/* END OF MEDIA QUERY */

.main-container {
    background-color: white;
    box-shadow: 0 8px 6px -6px black;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.upper-row {
    display: flex;
    flex: 1;
}

.lower-row {
    display: flex;
    flex-direction: row;
}

.messages-container {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    padding: 10px;
    width: 66.7%;
}

.users-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-top-right-radius: 10px;
    padding: 10px;
}

.input-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    width: 80%;
}

.button-container {
    flex: 1;
    padding: 10px;
}

.users-section {
    flex: 1;
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
}

.messages-section {
    flex: 1;
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
}

.send-button {
    width: 100%;
}