:root {
    --user-color: #007bff;
}

html {
    height: 100%;
}

body {
    padding: 30px;
    height: 100%;
    background-color: var(--user-color);
}

.main-container {
    background-color: white;
    box-shadow: 0 8px 6px -6px black;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.upper-row {
    display: flex;
    flex: 1;
    min-height: 0;
}

.lower-row {
    display: flex;
    flex-direction: row;
}

.messages-container {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    padding: 10px;
    width: 66.7%;
}

.users-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-top-right-radius: 10px;
    padding: 10px;
}

.input-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    width: 80%;
}

.button-container {
    flex: 1;
    padding: 10px;
}

.users-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
}

.messages-section {
    display:  flex;
    flex-direction: column;
    flex: 1;
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
}

.messages-section:hover, .users-section:hover {
    overflow-y: scroll;
}

.section-header {
    color: var(--user-color);
}

.send-button {
    color: white;
    width: 100%;
    background-color: var(--user-color);
}

.send-button:hover {
    color: white;
    filter: brightness(85%);
}

.single-message {
    border: 1px solid var(--user-color);
    border-radius: 10px;
    background-color: #f5f5f5;
    margin: 5px;
    width: 40%;
    padding: 5px;
    align-self: flex-start;
}

.single-user {
    color: var(--user-color);
}

.in-message-user-name {
    color: var(--user-color);
    font-size: small;
    font-weight: bold;
}

.push-down {
    flex: 1;
}

.in-message-date {
    font-size: small;
    float: right;
}

.message-contents {
    word-wrap: break-word;
}

/* MEDIA QUERY */

@media screen and (max-width: 600px) {
    body {
        padding: 0px;
    }

    .main-container {
        box-shadow: none;
        border-radius: 0px;
    }

    .upper-row {
        flex-direction: column;
    }

    .messages-container {
        order: 2;
        height: 75%;
        width: 100% !important;
    }

    .users-container {
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {

    body {
        padding: 0px;
    }

    .main-container {
        box-shadow: none;
        border-radius: 0px;
    }
}

/* END OF MEDIA QUERY */